@{
    var productId = (int) Model.ProductId;
}
@using (Html.BeginFormAntiForgeryPost(Url.Action("Add", "ShoppingCart", new { id = productId, area = "Skywalker.Webshop" }))) {
    <button type="submit">@T("Add to shoppingcart")</button>
}